In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
dataset = pd.read_csv('C:/Users/Ahmadi/OneDrive/Desktop/datasets/2.1 movies.csv')
dataset

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
items = dataset['genres']
items = items.str.split('|')
print(items)

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9737                 [Action, Animation, Comedy, Fantasy]
9738                         [Animation, Comedy, Fantasy]
9739                                              [Drama]
9740                                  [Action, Animation]
9741                                             [Comedy]
Name: genres, Length: 9742, dtype: object

In [5]:
te = TransactionEncoder()
#transform the input dataset into a one-hot encoded Numpy boolean array
te_ary = te.fit(items).transform(items)
df = pd.DataFrame(te_ary,columns=te.columns_)
#using apriori algorithm with minimum support value=0.1
frequent_items = apriori(df,min_support=0.1,use_colnames=True)
#Generating frequent values
frequent_items

    support         itemsets
0  0.187641         (Action)
1  0.129645      (Adventure)
2  0.385547         (Comedy)
3  0.123075          (Crime)
4  0.447649          (Drama)
5  0.100390         (Horror)
6  0.163827        (Romance)
7  0.100595         (Sci-Fi)
8  0.194416       (Thriller)
9  0.103983  (Comedy, Drama)

In [6]:
from mlxtend.frequent_patterns import association_rules
#generating association rules with confidence > 0.2
association_rules(frequent_items,metric='confidence',min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Comedy),(Drama),0.385547,0.447649,0.103983,0.269702,0.602485,-0.068607,0.756336,-0.517791
1,(Drama),(Comedy),0.447649,0.385547,0.103983,0.232286,0.602485,-0.068607,0.800367,-0.544319

In [7]:
#generating association rules with lift > 0.2
association_rules(frequent_items,metric='lift',min_threshold=0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Comedy),(Drama),0.385547,0.447649,0.103983,0.269702,0.602485,-0.068607,0.756336,-0.517791
1,(Drama),(Comedy),0.447649,0.385547,0.103983,0.232286,0.602485,-0.068607,0.800367,-0.544319